@model WEB_DEMO.Models.Food

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center mt-5">📜Details of the Cooking Recipes📜</h1>

<div>
 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 

</div>

<div>
    <a class="btn btn-secondary mt-4 mb-4" asp-action="Index">Back to List</a>
</div>
