@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>About us</h1>

<p>Address and information of my website</p>


<section class="gmap">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.504707346954!2d106.657698!3d10.772603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ec17709146b%3A0x54a1658a0639d341!2zxJDhuqFpIEjhu41jIELDoWNoIEtob2EgLSAyNjggTMO9IFRoxrDhu51uZyBLaeG7h3Q!5e0!3m2!1sen!2s!4v1719220764881!5m2!1sen!2s"></iframe>
</section>

<style>
    .gmap {
        width: 100%;
        height: 400px;
        border-bottom: 1px solid gainsboro;
    }

    .gmap iframe {
        width: 100%;
        height: 500px;
    }
</style>

<br />
<br />
<br />
<br />

<div class="time-contact mt-5">
    <h3>Timing</h3>
    <p><strong>Mon - Fri</strong> <time datetime="09:00">  09:00 AM</time> - <time datetime="17:00">17:00 PM</time></p>

    <hr>

    <h3>Contact</h3>
    <p><a class="mb-3" href="mailto: minhtrinhanh108@hcmut.edu.vn">minhtrinhanh108@hcmut.edu.vn</a></p>
</div>